<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javamaster.b2c.core.mapper.KnowledgePointsMapper">
  <!-- 此文件由 mybatis generator 生成,注意: 请勿手工改动此文件, 请使用 mybatis generator -->
  <resultMap id="BaseResultMap" type="org.javamaster.b2c.core.entity.KnowledgePoints">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="knowledge_points_code" jdbcType="VARCHAR" property="knowledgePointsCode" />
    <result column="knowledge_points_content" jdbcType="VARCHAR" property="knowledgePointsContent" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="knowledges_code" jdbcType="VARCHAR" property="knowledgesCode" />
    <result column="questions_code" jdbcType="VARCHAR" property="questionsCode" />
    <result column="create_usename" jdbcType="VARCHAR" property="createUsename" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, knowledge_points_code, knowledge_points_content, sort_order, knowledges_code, 
    questions_code, create_usename, create_time
  </sql>
  <select id="selectByExample" parameterType="org.javamaster.b2c.core.entity.KnowledgePointsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from knowledge_points
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from knowledge_points
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from knowledge_points
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.javamaster.b2c.core.entity.KnowledgePointsExample">
    delete from knowledge_points
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="org.javamaster.b2c.core.entity.KnowledgePoints" useGeneratedKeys="true">
    insert into knowledge_points (id, knowledge_points_code, knowledge_points_content, 
      sort_order, knowledges_code, questions_code, 
      create_usename, create_time)
    values (#{id,jdbcType=INTEGER}, #{knowledgePointsCode,jdbcType=VARCHAR}, #{knowledgePointsContent,jdbcType=VARCHAR}, 
      #{sortOrder,jdbcType=INTEGER}, #{knowledgesCode,jdbcType=VARCHAR}, #{questionsCode,jdbcType=VARCHAR}, 
      #{createUsename,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="org.javamaster.b2c.core.entity.KnowledgePoints" useGeneratedKeys="true">
    insert into knowledge_points
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="knowledgePointsCode != null">
        knowledge_points_code,
      </if>
      <if test="knowledgePointsContent != null">
        knowledge_points_content,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="knowledgesCode != null">
        knowledges_code,
      </if>
      <if test="questionsCode != null">
        questions_code,
      </if>
      <if test="createUsename != null">
        create_usename,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="knowledgePointsCode != null">
        #{knowledgePointsCode,jdbcType=VARCHAR},
      </if>
      <if test="knowledgePointsContent != null">
        #{knowledgePointsContent,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="knowledgesCode != null">
        #{knowledgesCode,jdbcType=VARCHAR},
      </if>
      <if test="questionsCode != null">
        #{questionsCode,jdbcType=VARCHAR},
      </if>
      <if test="createUsename != null">
        #{createUsename,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.javamaster.b2c.core.entity.KnowledgePointsExample" resultType="java.lang.Long">
    select count(*) from knowledge_points
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update knowledge_points
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.knowledgePointsCode != null">
        knowledge_points_code = #{record.knowledgePointsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.knowledgePointsContent != null">
        knowledge_points_content = #{record.knowledgePointsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.knowledgesCode != null">
        knowledges_code = #{record.knowledgesCode,jdbcType=VARCHAR},
      </if>
      <if test="record.questionsCode != null">
        questions_code = #{record.questionsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createUsename != null">
        create_usename = #{record.createUsename,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update knowledge_points
    set id = #{record.id,jdbcType=INTEGER},
      knowledge_points_code = #{record.knowledgePointsCode,jdbcType=VARCHAR},
      knowledge_points_content = #{record.knowledgePointsContent,jdbcType=VARCHAR},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      knowledges_code = #{record.knowledgesCode,jdbcType=VARCHAR},
      questions_code = #{record.questionsCode,jdbcType=VARCHAR},
      create_usename = #{record.createUsename,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.javamaster.b2c.core.entity.KnowledgePoints">
    update knowledge_points
    <set>
      <if test="knowledgePointsCode != null">
        knowledge_points_code = #{knowledgePointsCode,jdbcType=VARCHAR},
      </if>
      <if test="knowledgePointsContent != null">
        knowledge_points_content = #{knowledgePointsContent,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="knowledgesCode != null">
        knowledges_code = #{knowledgesCode,jdbcType=VARCHAR},
      </if>
      <if test="questionsCode != null">
        questions_code = #{questionsCode,jdbcType=VARCHAR},
      </if>
      <if test="createUsename != null">
        create_usename = #{createUsename,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.javamaster.b2c.core.entity.KnowledgePoints">
    update knowledge_points
    set knowledge_points_code = #{knowledgePointsCode,jdbcType=VARCHAR},
      knowledge_points_content = #{knowledgePointsContent,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      knowledges_code = #{knowledgesCode,jdbcType=VARCHAR},
      questions_code = #{questionsCode,jdbcType=VARCHAR},
      create_usename = #{createUsename,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>